@font-face {
   font-family: 'blue_eyes';
   font-display: swap;
   src: url('file:///C:/Users/Lorraine%20Nicole/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-09-02_153817/fonts/blue_eyes/font.zip');
}
